<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nmgns.bps.system.dao.UserDao">
    <select id="getUserByCode" resultType="org.nmgns.bps.system.entity.User" parameterType="java.lang.String">
        SELECT a.*,s.status FROM public.t_sys_user a join public.t_sys_user_status s on a.id = s.user_id where a.code = #{code}
    </select>

    <select id="getUserById" resultType="org.nmgns.bps.system.entity.User" parameterType="java.lang.Long">
        SELECT a.*,s.status FROM public.t_sys_user a join public.t_sys_user_status s on a.id = s.user_id where a.id = #{id}
    </select>

    <select id="getAllUser" resultType="org.nmgns.bps.system.entity.User">
        SELECT a.*,s.status FROM public.t_sys_user a join public.t_sys_user_status s on a.id = s.user_id
    </select>

    <update id="updatePassword" parameterType="org.nmgns.bps.system.entity.User">
        UPDATE public.t_sys_user SET login_password = #{loginPassword} Where code = #{code}
    </update>

    <update id="update" parameterType="org.nmgns.bps.system.entity.User">
        UPDATE public.t_sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="loginPassword != null and loginPassword != ''">login_password = #{loginPassword},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="identityNo != null and identityNo != ''">identity_no = #{identityNo},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="loginUsable != null">login_usable = #{loginUsable},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="loginTime != null">login_time = #{loginTime},</if>
            <if test="adminFlag != null">admin_flag = #{adminFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remarks != null">remarks = #{remarks}</if>
        </trim>
        WHERE id = #{id}
    </update>

    <insert id="insertUserOrganization" parameterType="org.nmgns.bps.system.entity.UserOrganization" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO public.t_sys_user_organization(user_id, organization_id, start_date, end_date, valid_flag, parent_id, create_by, update_by, update_time)
        VALUES (
                #{userId},
                #{organizationId},
                #{startDate},
                #{endDate},
                #{validFlag},
                #{parentId},
                #{createBy},
                #{updateBy},
                #{updateTime}
               )
    </insert>

    <select id="getUserOrganizationById" parameterType="java.lang.Long" resultType="org.nmgns.bps.system.entity.UserOrganization">
        select * from public.t_sys_user_organization where id = #{id}
    </select>

    <update id="updateUserOrganizationById" parameterType="org.nmgns.bps.system.entity.UserOrganization">
        UPDATE public.t_sys_user_organization
        <trim prefix="SET" suffixOverrides=",">
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteUserOrganizationById" parameterType="java.lang.Long">
        delete from public.t_sys_user_organization where id = #{id}
    </delete>

    <select id="getValidUserOrganizationByUserId" parameterType="java.lang.Long" resultType="org.nmgns.bps.system.entity.UserOrganization">
        select
            a.*,
            o.code as organization_code,
            o.name as organization_name
        from
            public.t_sys_user_organization a
            left join public.t_sys_organization o on o.id = a.organization_id
        where user_id = #{userId} and valid_flag = true
    </select>


    <select id="getCount" resultType="java.lang.Long" parameterType="org.nmgns.bps.system.entity.User">
        select count(*)
        from
            public.t_sys_user a
        left join public.t_sys_user_organization uo on a.id = uo.user_id and uo.valid_flag = true
        join public.t_sys_organization o on uo.organization_id = o.id
        join public.t_sys_user_status s on a.id = s.user_id and s.valid_flag = true
        join public.t_sys_user_post p on a.id = p.user_id and p.valid_flag = true
        <where>
            a.del_flag = false
            <if test="organizationId != null" >
                AND (o.id = #{organizationId} OR ( o.parent_ids @> CAST(ARRAY[#{organizationId}] AS INTEGER[])) )
            </if>
            <if test="code != null and code != ''">
                AND a.code = #{code}
            </if>
            <if test="name != null and name != ''">
                AND a.name LIKE '%'||#{name}||'%'
            </if>
            ${sqlMap.dsf}
        </where>
    </select>

    <select id="get" resultType="org.nmgns.bps.system.entity.User" parameterType="org.nmgns.bps.system.entity.User">
        select a.*,uo.organization_id,s.status,p.post
        from
            public.t_sys_user a
            left join public.t_sys_user_organization uo on a.id = uo.user_id and uo.valid_flag = true
            join public.t_sys_organization o on uo.organization_id = o.id
            join public.t_sys_user_status s on a.id = s.user_id and s.valid_flag = true
            join public.t_sys_user_post p on a.id = p.user_id and p.valid_flag = true
        <where>
            a.del_flag = false
            <if test="organizationId != null" >
                AND (o.id = #{organizationId} OR ( o.parent_ids @> CAST(ARRAY[#{organizationId}] AS INTEGER[]) ) )
            </if>
            <if test="code != null and code != ''">
                AND a.code = #{code}
            </if>
            <if test="name != null and name != ''">
                AND a.name LIKE '%'||#{name}||'%'
            </if>
            ${sqlMap.dsf}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.id ASC
            </otherwise>
        </choose>
        <if test="page != null and page.start >= 0 and page.pageSize > 0">
            offset ${page.start} limit ${page.pageSize}
        </if>
    </select>

    <insert id="insert" parameterType="org.nmgns.bps.system.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO public.t_sys_user(code, login_password, name, phone, mobile, avatar, identity_no, birthday, sex, entry_date, login_usable, remarks, admin_flag, create_by, update_by, update_time, login_ip, login_time, del_flag)
        VALUES (
                   #{code},
                   #{loginPassword},
                   #{name},
                   #{phone},
                   #{mobile},
                   #{avatar},
                   #{identityNo},
                   #{birthday},
                   #{sex},
                   #{entryDate},
                   #{loginUsable},
                   #{remarks},
                   #{adminFlag},
                   #{createBy},
                   #{updateBy},
                   #{updateTime},
                   #{loginIp},
                   #{loginTime},
                   #{delFlag}
               )
    </insert>

    <update id="delete" parameterType="java.lang.Long">
        UPDATE public.t_sys_user set del_flag = TRUE where id = #{id}
    </update>

    <insert id="insertUserStatus" parameterType="org.nmgns.bps.system.entity.UserStatus" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO public.t_sys_user_status(user_id, start_date, end_date, status, valid_flag, parent_id, remarks, create_by, create_time)
        VALUES (
                #{userId},
                #{startDate},
                #{endDate},
                #{status},
                #{validFlag},
                #{parentId},
                #{remarks},
                #{createBy},
                #{createTime}
               )
    </insert>

    <select id="getValidUserStatusByUserId" parameterType="java.lang.Long" resultType="org.nmgns.bps.system.entity.UserStatus">
        select * from public.t_sys_user_status where user_id = #{userId} and valid_flag = true
    </select>

    <update id="updateUserStatusById" parameterType="org.nmgns.bps.system.entity.UserStatus">
        UPDATE public.t_sys_user_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <insert id="insertUserPost" parameterType="org.nmgns.bps.system.entity.UserPost" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO public.t_sys_user_post(user_id, start_date, end_date, post, valid_flag, parent_id, remarks, create_by, create_time)
        VALUES (
                   #{userId},
                   #{startDate},
                   #{endDate},
                   #{post},
                   #{validFlag},
                   #{parentId},
                   #{remarks},
                   #{createBy},
                   #{createTime}
               )
    </insert>

    <select id="getValidUserPostByUserId" parameterType="java.lang.Long" resultType="org.nmgns.bps.system.entity.UserPost">
        select * from public.t_sys_user_post where user_id = #{userId} and valid_flag = true
    </select>

    <update id="updateUserPostById" parameterType="org.nmgns.bps.system.entity.UserPost">
        UPDATE public.t_sys_user_post
        <trim prefix="SET" suffixOverrides=",">
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 获取十个用户，同时code字段被复用为用户名称，即用户输入编号或者名称后，都可以搜索到用户 -->
    <select id="getTenUsers" parameterType="org.nmgns.bps.system.entity.User" resultType="org.nmgns.bps.system.entity.User">
        select * from public.t_sys_user u
        <where>
            <if test="code != null and code != ''">
                (u.code LIKE '%'||#{code}||'%' or u.name LIKE '%'||#{code}||'%')
            </if>
                 and u.admin_flag = false
        </where>
        ORDER BY u.code LIMIT 10
    </select>

    <!-- 获取存款的最大跑批日期 -->
    <select id="getMaxDepositCurrDate" resultType="java.util.Date">
        SELECT max(dp_curr_date) from bps_78000.t_cktj_deposit_handle_config WHERE type = '1';
    </select>

    <!-- 获取用户的职位列表类型 -->
    <select id="getUserPostList" parameterType="java.lang.String" resultType="org.nmgns.bps.system.entity.Dictionary">
        select code,name,sort
        from public.t_sys_dictionary
        <where>
            and code LIKE 'USER_POST_%';
            <if test="name != null and name != ''">
                and name like '%'||#{name}||'%'
            </if>
        </where>
    </select>

    <!-- 获取用户的在职状态列表类型 -->
    <select id="getUserStatusList" parameterType="java.lang.String" resultType="org.nmgns.bps.system.entity.Dictionary">
        select code,name,sort
        from public.t_sys_dictionary
        <where>
            and code LIKE 'USER_STATUS_%';
            <if test="name != null and name != ''">
                and name like '%'||#{name}||'%'
            </if>
        </where>
    </select>





</mapper>